@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@import './variables';
@import './modules/alModules';


// first section
#firstSec{
  background-color: rgb(237, 228, 228);
  min-height:90vh;
};

.amatic{
  font-family: 'Amatic';
}
.heroImg{
  
  height: auto;
}